---
import type { GetStaticPathsOptions, Page } from 'astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Paginator from '../../components/Paginator.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = (await getCollection('posts')).sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );

  return paginate(allPosts, { pageSize: 7 });
}

const { page } = Astro.props;
const pageTitle = 'Posts';
---


<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img src="/images/blog.webp" role="presentation" width="300" height="259" decoding="async" class="mx-auto" />
  </div>
  <h2 class="postshome">Blog</h2>
  <ul role="list" class="timeline">
    {
      page.data.map((post, index) => (
        <li class="flex justify-start items-start mb-4 sm:pl-8">
          <time class="post-date badge--item badge w-[82px] block whitespace-nowrap">{post.data.date}</time>
          <div class="inline-block">
            <a href={`/posts/${post.id}/`} class="post-title">{post.data.title}</a>
            {
              page.currentPage === 1 && index === 0 && (
                <sup class="text-[12px] text-white bg-red-400 rounded px-1 py-px">NEW</sup>
              )
            }
          </div>
        </li>
      ))
    }
  </ul>

  <!-- ✅ 分页控件 -->
  <Paginator page={page} basePath="/posts" />

</Layout>
