---
import BaseLayout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts = Object.entries(import.meta.glob('../../content/posts/*.md', { eager: true })).map(
  ([path, post]: [string, any]) => {
    const slug = path.split('/').pop();
    return {
      ...post,
      slug,
      url: `/posts/${slug}`,
    };
  }
);

  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <h3 class="my-8 text-xl">包含「{tag}」标签的文章</h3>
  <ul class="list-disc pl-4 ">
    {posts.map((post: any) => <li class="mb-4"><a href={post.url}>
      <h4 class="hover:underline text-lg font-medium border-b-2 inline border-[#375a7f]">{post.frontmatter.title}</h4>
      <p class="text-[#333333] text-base">{post.frontmatter.description}</p>
      </a></li>)}
  </ul>
</BaseLayout>
