---
import BaseLayout from "./Layout.astro";
const { frontmatter, wordCount, readingTime } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="gif">
        <img src="/images/blog.webp" role="presentation" width="300" height="259" decoding="async" class="mx-auto">
    </div>
    <h2 style="text-decoration:none;">{frontmatter.title}</h2>
    <ul class="badge__list">
        <li>
            <span class="badge badge--item">PUBLISHED</span>{frontmatter.date}{frontmatter.updateDate && (`(更新于 ${frontmatter.updateDate})`)}
        </li>
        <li>
        <span class="badge badge--item">TAGS</span>
    {frontmatter.tags.map((tag: string) => (
      <span class="tag-text"><a href={`/tags/${tag}`}>{tag}</a></span>
    ))}
        </li>
        <li>
            <span class="badge badge--item">Total Word Count</span>{wordCount} 字
        </li>
        <li>
            <span class="badge badge--item">Reading Time</span>{readingTime} 分钟
        </li>
    </ul>
    <slot />
</BaseLayout>

<style>
    .tag {
        margin-right: 15px;
    }

    </style>
